::ng-deep {
    .mat-button-focus-overlay {
        opacity: 0 !important;
        background-color: transparent !important;
    }
    .confirm-popup {
        h2 {
            text-align: center;
            font-weight: 600;
        }
        .mat-dialog-content {
            padding: 40px 24px;
            margin: 0;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
        }
        .timer-wrap {
            margin-bottom: 15px;
            .timer {
                color: red;
            }
        }
        .confirmation-content {
            text-align: center;
        }
        .btn-wrap {
            justify-content: space-around;
        }
    }
}