@import "src/assets/styles/variables";
$light-bg-color: #f1f1f1;
.patient-wrapper {
    padding-top: 55px;
    // background: $grey-color;
    .top-toolbar {
      position: fixed;
      top: 0;
      z-index: 10;
      .pointer {
        top: 3px;
        position: relative;
        font-size: 28px;
        margin-right: 8px;
      }
      .title {
        font-size: 22px;
      }      
    }
    .example-spacer {
        flex: 1 1 auto;
    } 
    .header-patient {        
        margin-top: 4px;
        cursor: pointer;
        .user-icon {
            width: 35px;
            height: 35px;
            display: inline-block;
            margin: 15px;
            border-radius: 25%;
            margin-top: 0px;
        }
        .icon {
            padding: 16px 10px;
            display: inline-block;
            &.notification {
                font-size: 27px;
            }
        }
    }
    .patient-details {
      margin: 0;
      padding: 2% 4% 1%;
      .profile-head-details {
        border-radius: 6px;
        border: 1px solid #FFF;
        justify-content: center;
        text-align: center;
        background: $light-bg-color;
        padding: 10px;
        .profile-icon {
          width: 65%;
          border-radius: 50%;
        }
        .user-name {
          font-size: 20px;
          font-weight: 700;
          opacity: 0.8;
          padding: 10px;
        }
        .id {
          font-size: 15px;
          opacity: 0.8;
        }
      }
      .list-wrapper {
          list-style: none;
          background: $light-bg-color;
          margin: 5px 0;
          border-radius: 6px;
          li {
              padding: 20px 0px;
              font-size: 18px;
              color: #414d55;
              cursor: pointer;
              img {
                  width: 25px;
                  height: 20px;
              }
              &.active {
                  color: blue;
              }
          }
          :first-child {
              font-weight: 600;
              font-size: 16px;
          }
      }
      .left-side-page {
        margin: auto;
        background-image: url('./../../../../assets/images/profile-bg.jpg');
      }

    }
}