<div class="patient-initial container">
    <div class="row">
        <div class="docImg reset col-lg-6" fxHide.lt-md="true">
            <img src="assets/images/forgot.png" alt="patient">
        </div>
        <div class="col-lg-4 col-sm-10 signUp-form">
            <div class="logo">
                <img src="assets/images/medpallogo.png" alt="">
                <h1 class="baseColor">Medpal.Live</h1>
            </div>
            <form [formGroup]="resetForm" class='loginForm' autocomplete="off">
                <div class="login">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" floatLabel=never>
                            <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                            <input type="password" matInput placeholder="Current Password" formControlName="currentPwd">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" floatLabel=never>
                            <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                            <input type="password" matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <div [ngClass]="{ 'test': true, 'custom-error' : !matchPassword}">
                            <mat-form-field appearance="outline" floatLabel=never>
                                <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                                <input type="password" matInput (input)="pwdMatch()" placeholder="Confirm Password" formControlName="confirmPwd">
                            </mat-form-field>
                            <span class="custom-error" *ngIf="!(resetForm.controls['confirmPwd'].errors?.required) && !matchPassword">
                                Password and confirm password do not match.</span>
                        </div>
                    </div>
                    <div class="col-md-12 loginButton">
                        <button mat-raised-button (click)='login()'>Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>