<div class="patient-initial container">
    <div class="loader" [hidden]="!enableLoader"></div>
    <div class="row">
        <div class="docImg col-lg-6" fxHide.lt-md="true">
            <img src="assets/images/doctorloginimg.png" alt="patient">
        </div>
        <div class="col-lg-4 col-sm-10 signUp-form">
            <div class="logo">
                <img src="assets/images/medpallogo.png" alt="">
                <h1 class="baseColor">Medpal.Live</h1>
            </div>
            <form [formGroup]="signupForm" class='loginForm' autocomplete="off">
                <div class="login">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" floatLabel=never>
                            <mat-icon matPrefix class="form-icon">face</mat-icon>
                            <input type="text" matInput placeholder="User Name" formControlName="firstName" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 email-wrapper">
                        <mat-form-field appearance="outline" floatLabel=never>
                            <mat-icon matPrefix class="form-icon">email</mat-icon>
                            <input type="email" matInput placeholder="Email" formControlName="email" autocomplete="off">
                        </mat-form-field>
                        <small class="custom-error" *ngIf="signupForm.controls['email'].errors?.pattern">Email address is invalid</small> 
                    </div>
                    <div class="col-md-12 flag-mobile" >
                        <ngx-intl-tel-input [cssClass]="'custom-flag-input'" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[ SearchCountryField.Iso2, SearchCountryField.Name ]" [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.India" [maxLength]="15" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National" name="mobile" formControlName="mobile"
                            [ngClass]="{ 'is-invalid': signupForm.controls['mobile'].errors }" (countryChange)="resetmobilefield()" >
                      </ngx-intl-tel-input>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" floatLabel=never>
                            <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                            <input type="password" matInput (input)="pwdMatch()" placeholder="Password" formControlName="password">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <div [ngClass]="{ 'email-wrapper': true, 'custom-error' : !matchPassword}">
                            <mat-form-field appearance="outline" floatLabel=never>
                                <mat-icon matPrefix class="form-icon">vpn_key</mat-icon>
                                <input type="password" matInput (input)="pwdMatch()" placeholder="Confirm Password" formControlName="confirmPwd">
                            </mat-form-field>
                            <span class="custom-error" *ngIf="!(signupForm.controls['confirmPwd'].errors?.required) && !matchPassword">
                                Password and confirm password do not match.</span>
                        </div>
                    </div>
                    <div class="sub-actions col-md-12">
                        <mat-checkbox color="primary"> I agree with <span class="baseColor">terms and conditions</span></mat-checkbox>
                    </div>
                    <div class="col-md-12 loginButton">
                        <button mat-raised-button (click)='register()'>Register</button>
                    </div>
                    <div class="end">
                        <p>Already have an account? <span class="baseColor" [routerLink]="['/medpal/patient/login']">Sign in</span>.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>