
@use '@angular/material' as mat;
@import "./_mixins.scss";
@import "./_variables.scss";
@import '@angular/material/theming';

// @font-face {
//     font-family: 'system-ui';
//     src: url('~assets/fonts/test.otf') format('opentype');
// }

 /** Define a custom typography config that overrides the font-family as well as the `headlines` and `body-1` levels. **/
$custom-typography: mat.define-typography-config(
  $font-family: 'system-ui',
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level($font-size-base, $line-height-base, $font-medium)
);

/** Override the typography in the core CSS.*/ 
@include mat.core($custom-typography);

// Hiding scrollbar
::-webkit-scrollbar {
  width: 0;
}
// Global font family
body {
  font-family: 'system-ui';
  margin: 0;
}
// Violet theme color
.baseColor {
  color: $med-core;
}
//loader styles
.loader{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('~assets/images/loader.gif') 50% 50% no-repeat transparent;
  // background-size: 200px 100px;
}

.centerAlign {
  text-align: center;
  align-items: center;
}
button.mat-raised-button {
  width: 80%;
  padding: 6px;
  margin: 10px;
  background: $med-core;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
// Form material icon position
.form-icon {
  opacity: 0.7 !important;
  margin-right: 15px !important;
}
// email error message
.email-wrapper {
    position: relative;
    .custom-error {
        font-size: 13px;
        color: #f44336;
        display: inline-block;
        position: absolute;
        top: 65px;
        left: 25px;
    }
}
// mobile number with country code
.custom-flag-input {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 90px !important;
}
.flag-mobile {
  margin-bottom: 20px;
  .iti {
      width: 80%;
  }
}
.iti input#country-search-box {
  padding: 6px;
}
.country-dropdown, .iti__flag-container {
  width: 100% !important;
}
// country styles end here
// Mobile side nav styles
.mat-drawer-container {
  background-color: #FFF;
}
.mat-drawer {
  width: 80%;
  height: min-content;
}
// ends here
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #333333;
}
.mat-button.cdk-keyboard-focused .mat-button-focus-overlay {
  opacity: 0 !important;
}
.mat-tab-group.mat-primary .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: transparent !important;
}
.mat-form-field {
    display: block;
    width: 90%;
}
.custom-error {
    .mat-form-field-outline-thick {
        .mat-form-field-outline-start {
            border: 2px solid red;
            border-right: 0;
        }
        .mat-form-field-outline-end {
            border: 2px solid red;
            border-left: 0;
        }
    }
}
.mat-checkbox-layout .mat-checkbox-label {
    opacity: 0.8;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
} 
// }

