/* Copyright (c) 2017 Verizon Wireless */
$black: #000;
$white: #FFF;
$med-core: #7c4bd2;
$grey-color: #e9e9e9;
$font-size-base: 0.875rem; // 14px
$font-color-base: #000000;
$line-height-base: 1.42857;
$font-medium: 500;

$link-color: #555;
$a-color: #0B9FEB;
